<section id="anim-hero" class="hero is-primary is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        <strong>Republic of Life D&#38;D</strong>
      </h1>
      <h2 class="subtitle">
        A homebrew <strong>sci-fi</strong> world
      </h2>
    </div>
  </div>
  <div class="hero-foot">
    <div class="tabs is-boxed is-centered is-medium is-fullwidth">
      <div class="container">
        <ul>
          <li [ngClass]="active === 'home' ? 'is-active' : '' " > <a  routerLink="/home" (click)="settab()"> Home </a> </li>
          <li [ngClass]="active === 'documentation' ? 'is-active' : '' " > <a (click)="setTab()" routerLink="/documentation" > Documentation </a> </li>
          <li [ngClass]="active === 'about' ? 'is-active' : '' " > <a (click)="setTab()" > About </a> </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>RoL</strong> by <a href="http://jaredjones.me">Jared Jones</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/jaredk3nt">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
