/* My Variables */
$primary: #423b77;//#805cce;
$primary-dark: #553e8d;
$primary-light: #24275b;

$background-grey: #f8f8f8;
$darker-grey: #ededed;


/* Imports */
@import '../node_modules/bulma/bulma';

/* My Styles */
.content blockquote {
    background: $darker-grey;
    border-left: 5px solid #d9d9d9;
}

.rol-title {
    font-size: 2.5em;
    font-weight: 700;
}

.rol-title2 {
    @extend .rol-title;
    font-size: 2em;
}

.home-container {
    padding: 2em 0em;
}

.builder-container {
    padding: 2em 4em;

    .builder-form {
        background: $background-grey;
        padding: 2em;
        .header {
            font-size: 2.5em;
            font-weight: 600;
        }

        .input[disabled] {
            background: $darker-grey;
        }


        .ability-label {
            font-size: .85rem;
            overflow: hidden;
            text-align: center;
        }
    }

    .age-input {
        width: 50%;
    }

    .input-info {
        font-size: .8rem;
        color: #7e7e7e;
        background: $darker-grey;
        padding: .5em 1em;
        margin: .2em 0em;
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-centered {
    text-align: center;
}

.h3-p {
    color: $primary;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.125;
    margin-top: 1.3333em;
    margin-bottom: 0.6666em;
}
.title2 {
    position: relative;
    display: inline-block;
    font-size: 1.75em;
    margin-bottom: 0.25em;
    font-weight: 400;
    line-height: 1.125;
    color: #fff;
    //background: $primary;
    padding: 5px 25px 5px 10px;
    left: -10px;
    width: 100%;
    font-weight: 600;
    background: -webkit-linear-gradient(141deg, $primary-light 0%, $primary 71%, $primary-dark 100%);
    background: -o-linear-gradient(141deg, $primary-light 0%, $primary 71%, $primary-dark 100%);
    background: -moz-linear-gradient(141deg, $primary-light 0%, $primary 71%, $primary-dark 100%);
    background: linear-gradient(141deg, $primary-light 0%, $primary 71%, $primary-dark 100%);
}
.title3 {
    @extend .title2;
    font-size: 1.2em;
}

.indent-p {
    margin-left: 40px;
    margin-bottom: 15px;
}

.menu-header {
    font-size: 1.6em;
    font-weight: 700;
    color: $primary;
    margin-top: .4em;
}

.doc-container {

}

.doc-content {
    margin-left: 10px;
    padding:5% 7%;
    background: $background-grey;
    border-radius: 5px;

    .doc-header {
        font-size: 2.5em;
        font-weight: 600;
    }
}

.rol-hr {
    background-color: #dbdbdb;
    border: none;
    display: block;
    height: 1px;
    margin: .5rem 0rem 1.5rem 0rem;
    width: 90%;
}

.rol-icon {
    display: inline-block;
    padding: 0 1rem;
}


#anim-hero {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
