<div class="container home-container">
    <div class="content">
        <div class="rol-title has-text-centered">
            Welcome to the Republic of Life
        </div>

        <div class="h3-p">Republic of Life is a completely custom sci-fi world built for 5e</div>
        <p>
            If you have ever had the need for some fantasy space action in your d&d® campaigns, you have found a completely open-source world designed to scratch that sci-fi itch.
        </p>
        <p>
            Based in Humanities far future: a collection of alien species have formed a coalition called the Republic of Life, in a densely populated portion of the Milky Way known as The Sphere. You can take up the adventurers mantle as an Adept (a person with supernatural abilities) or an Enhanced (someone who has upgrade themselves cybernetically) from one of the many races living in this futuristic metropolis of stars.
        </p>
        <div class="h3-p">Contributing to RoL</div>
        <p>
            I hope my work is enjoyable enough to you that you will contribute when you feel it is necessary! I believe that the open-source mentality makes everything better, so if you feel that something is imbalanced, not fleshed out enough, or anything else, feel free to submit an issue or even a pull request on the github repo!
            <a href="https://github.com/jaredk3nt/rolDnDWebsite"><i class="fa fa-github"></i></a>
        </p>
    </div>
</div>
